<h2></h2>
<%= image_tag "Bowling.jpg", style: "width: 134px" %>
<table>
  <tr>
    <% binding.pry; frames = @bowling_game.frames %>
    <% frames.each_with_index do |frame,i| %>
      <td colspan="2"><%= "Frame #{i+1}" %></td>
    <% end %>
  </tr>
  <tr>
    <% frames.each do |frame| %>
      <td><%= frame[0].pins %></td>
      <td><%= frame[1].pins %></td>
    <% end %>
  </tr>
</table>

Roll it!
<% (0..10).each do |pins| %>
  <%= form_tag bowling_game_path, method: "put", style: "display: inline" do %>
    <%= hidden_field_tag(:pins, pins) %>
    <%= submit_tag(pins) %>
  <% end %>
<% end %>
